<h1><u><%= @user.name %></u></h1>

<p>Email = <%= @user.email %></p>



<p>Phone = <%= @user.phone %></p>

<p>Designation = <%= @user.designation %></p>
<p>Role = <%= @user.role %></p>



<br>
<br>

<div class="hstack gap-3">
  <div class="bg-light border"><%= button_to "Edit", edit_user_path, method: :get, class: "btn btn-primary"%></div>
  <div class="bg-light border"><%= button_to "Delete", user_path(@user), method: :delete,data: { confirm: "Are you sure?" } , class: "btn btn-primary"%></div>
  <div class="bg-light border ms-auto"><%= button_to "Manage users", "/users", method: :get, class: "btn btn-primary"%></div>
</div>
