<h1><u><%= @user.name %></u></h1>

<p>Email = <%= @user.email %></p>



<p>Phone = <%= @user.phone %></p>

<p>Designation = <%= @user.designation %></p>
<p>Role = <%= @user.role %></p>

<%# <p>Password = <%= @user.password_digest %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "All User Page","/users" %></li>                
</ul>

