
<%= form_with model: venue do |form| %>
    <div>
      <%= form.label :Venue %><br>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :Description %><br>
      <%= form.text_area :body %>
    </div>

    <div class="form-group">
      <% if @venue.images.attached? %>
      <%= image_tag @venue.images, style: "width: 200px; display: block" %>
      <% end %>

      <%= form.label :image %><br>
      <%= form.file_field :images, class: "form-control" %><br>
    </div>
    
    <br><br>
    <div>
      <%= form.submit "Add Venue", class: "btn btn-primary" %>
    </div>


    <% end %>