<h1> <%= @venue.title %> </h1>

<p> <%= @venue.body %> </p>


<ul>
  <li><%= link_to "Edit", edit_venue_path(@venue) %></li>
  <li><%= link_to "Destroy", venue_path(@venue),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%= link_to "Home Page", root_path %>





